.page-container {}

.model-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    overflow: auto;
}

.model-content {
    margin-top: 50px;
    display: flex;
    width: 90%;
    height: 90%;
    background-color: #fff;
    overflow: auto;
}

.picture {
    width: 30%;
    height: 100%;
    background-color: rgb(65, 115, 161);
}

.user-form {
    height: 100%;
    width: 70%;
    display: flex;
}

.form-part1 {
    /* background-color: sienna; */
    width: 100%;
    height: 100%;
}

.form-part2 {
    /* background-color: rgb(62, 45, 160); */
    width: 100%;
    height: 100%;
}

.input-text {
    display: flex;
    flex-direction: column;
    margin: 5px 50px 5px 50px;
}

.input-text input {
    margin-top: 10px;
    padding: 10px;
    background-color: #E4E4E4;
    border: none;
    outline: none;
    border-radius: 5px;
}

.radios {
    padding: 5px;
    display: flex;
    margin: 5px 50px 5px 50px;
}

.radion-title {
    padding: 5px;
    display: flex;
    margin: 5px 50px 5px 50px;
}

.radio-class {
    margin: 5px 50px 5px 50px;
}

.select-items {
    margin: 5px 50px 5px 50px;
    display: flex;
    flex-direction: column;
}

.radio-box-group {
    display: flex;
    flex-direction: row;
}

.apply_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.clossing-tag {
    float: right;
    margin: 10px;
    cursor: pointer;
}

.clossing-tag:hover {
    color: red;
}

.form-element {
    margin-top: 20px;
}

.picture {
    background: url(./assets/images/IRO.jpg) no-repeat center center/cover;
}